@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Extensions
@using Umbraco.Cms.Core.Models.Blocks

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
    // Get basic design settings from the homepage
    var home = (Home)Model.Root();
    var font = home.Font;
    var colorTheme = home.ColorTheme;
    var socialLinks = home.Value<IEnumerable<BlockListItem>>("footerLinks");

    // SEO Configraution
     var seoTitle = Model.Value<string>("seoTitle");
    if (string.IsNullOrWhiteSpace(seoTitle))
    {
        seoTitle = Model.Name;  // fallback page name
    }
    var seoDescription = Model.Value<string>("seoMetaDescription") ?? "Default site description";
    var seoKeywords = Model.Value<IEnumerable<string>>("keywords");
    var ogImage = Model.Value<IPublishedContent>("ogImage");
    var favicon = Model.Value<IPublishedContent>("favicon");
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <title>@seoTitle</title>
    <meta name="description" content="@seoDescription">
    <meta name="keywords" content="@seoKeywords" />
    <meta name="author" content="Galaxy Web Links" />

    <!-- Open Graph Tags -->
    <meta property="og:title" content="@seoTitle" />
    <meta property="og:description" content="@seoDescription" />
    @if (ogImage != null)
    {
        <meta property="og:image" content="@ogImage.Url()" />
    }

    <!-- Favicon -->
    @if (favicon != null)
    {
        <link rel="icon" href="@favicon.Url()" type="image/png" />
    }

    <link rel="stylesheet" href="@Url.Content("~/css/umbraco-starterkit-style.css")" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    @RenderSection("Header", required: false)
</head>



<body class="frontpage theme-font-@font theme-color-@colorTheme">

    @await Html.PartialAsync("~/Views/Partials/Navigation/ItraTopNavigation.cshtml",home)

    <main>
        @RenderBody()
    </main>

    @await Html.PartialAsync("~/Views/Partials/Footer.cshtml",home)

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src="@Url.Content("~/scripts/umbraco-starterkit-app.js")"></script>

</body>

</html>