@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Extensions
@using Umbraco.Cms.Core.Models.Blocks

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
    // Get basic design settings from the homepage
    var home = (Home)Model.Root();
    var font = home.Font;
    var colorTheme = home.ColorTheme;
    var socialLinks = home.Value<IEnumerable<BlockListItem>>("footerLinks");

    // SEO Configraution
     var seoTitle = Model.Value<string>("seoTitle");
    if (string.IsNullOrWhiteSpace(seoTitle))
    {
        seoTitle = Model.Name;  // fallback page name
    }
    var seoDescription = Model.Value<string>("seoMetaDescription") ?? "Default site description";
    var seoKeywords = Model.Value<IEnumerable<string>>("keywords");
    var ogImage = Model.Value<IPublishedContent>("ogImage");
    var favicon = Model.Value<IPublishedContent>("favicon");
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <title>@seoTitle</title>
    <meta name="description" content="@seoDescription">
    <meta name="keywords" content="@seoKeywords" />
    <meta name="author" content="Galaxy Web Links" />

    <!-- Open Graph Tags -->
    <meta property="og:title" content="@seoTitle" />
    <meta property="og:description" content="@seoDescription" />
    @if (ogImage != null)
    {
        <meta property="og:image" content="@ogImage.Url()" />
    }

    <!-- Favicon -->
    @if (favicon != null)
    {
        <link rel="icon" href="@favicon.Url()" type="image/png" />
    }

    <link rel="stylesheet" href="@Url.Content("~/css/umbraco-starterkit-style.css")" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    @RenderSection("Header", required: false)
</head>

<body class="frontpage theme-font-@font theme-color-@colorTheme">
    <div class="mobile-nav">
        <nav class="nav-bar d-flex gap-3">
            @await Html.PartialAsync("~/Views/Partials/Navigation/TopNavigation.cshtml")
        </nav>
    </div>

    <header class="header">

        <div class="logo">
            @if (home.SiteLogo != null && !string.IsNullOrEmpty(home.SiteLogo.Url()))
            {
                <div class="nav-link--home">
                    <img class="logo-image rounded-circle" src="@home.SiteLogo.Url()" alt="@home.Sitename" style="width: 80px; height: 80px; object-fit: cover;">

                </div>
            }
            else
            {
                <a class="nav-link nav-link--home nav-link--home__text logo-text" href="/">@home.Sitename</a>
            }
        </div>

        <nav class="nav-bar top-nav d-flex gap-3">
            @await Html.PartialAsync("~/Views/Partials/Navigation/TopNavigation.cshtml")
        </nav>

        <div class="mobile-nav-handler">
            <div class="hamburger lines" id="toggle-nav">
                <span></span>
            </div>
        </div>

    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="section--themed">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ta-center">
                    @home.FooterAddress

                    @if (socialLinks?.Any() == true)
                {
                    <div class="footer-social-icons mt-3">
                        @foreach (var block in socialLinks)
                        {
                            var content = block.Content;
                            var title = content.Value<string>("title");
                            var url = content.Value<string>("url");
                            var icon = content.Value<string>("iconClass");
                                string fullUrl = url;
    if (!string.IsNullOrWhiteSpace(url) && !url.StartsWith("http", StringComparison.OrdinalIgnoreCase))
    {
        fullUrl = "https://" + url;
    }

                            <a href="@fullUrl" target="_blank" title="@title" class="me-3">
                                <i class="@icon"></i>
                            </a>
                        }
                    </div>
                }
                </div>
            </div>
        </div>
    </footer>








    @*
    Wish not to use JQuery?
    Insert this method call to load Umbraco Forms client dependencies without JQuery. @Html.RenderUmbracoFormDependencies()
    *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src="@Url.Content("~/scripts/umbraco-starterkit-app.js")"></script>

</body>

</html>